/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

// its the same thing as HTML selector but with higher specificity
// it is used to contain the CSS variables in order for them to accessible throughout the entire document
:root {
    /* 
       Advantages of CSS variables:
        1) CSS can be natively handle CSS variables without the need of pre-processor
        2) they can be manipulated in JavaScript and edited in dev tools
        3) they are easier to use in the code function
        4) CSS variables cascade and they are inhereted
    */
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3); // css variables can contain other elements aside from colors, like this box shadow
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);

    --line: 1px solid var(--color-grey-light-2); // creating a fine line that we used multiple times
}

* {
    margin: 0; // remove the default margin added by the browser
    padding: 0; // remove the default padding added by the browser
}

*,
*::after,
*::before {
    box-sizing: inherit; // inherite the box-sizing in the html bellow
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
    font-family: 'Open Sanss', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));// add the background gradient
    background-size: cover; // cover the entire size of the body
    background-repeat: no-repeat; // remove the repeated background 

    min-height: 100vh; /* stretch the body over the entire view port, the min-height ill be 100vh,
                          but the height is bigger then it will simply be bigger*/
    
}