//////////////////////////////////
// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;
}

//////////////////////////////////
// Search box
.search {
    flex: 0 0 40%;

    display: flex; // in order to make the entire section that contain the input search bar and the search button flex
    align-items: center; // center the elements along the cross axis
    justify-content: center; // center the elements along the main axis

    &__input {
        font-family: inherit; // this inherited form the body selector in the __base.scss file
        font-size: inherit; // this will be inhereted from the header element of the layout.scss
        color: inherit; // this inherited form the body selector in the __base.scss file
        

        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem; // the button will move on top of the input when we try to type in the search bar

        // the effect of increasing the width of the search bar when we click it to type (put it in focus), it goes from 90% to 100%
        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        // this will change the color of the placeholder and its font
        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3); 
        // in order to make the button the same color when the search bar is clicked and in focuss
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2); // same background color as the search bar

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px); // the button moves down a bit when we click it
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3); // this is to change the color of the SVG icon
    }
}

//////////////////////////////////
// User Navigation
.user-nav {

    align-self: stretch; // to stretch the items along the entire main axis (the entire height of the header)

    display: flex; // this will put the element of the navigation side to flex mode
    align-items: center; // center the elements along the cross axis

    /* this is used to select the direct children for .user-nav in the index.html structure, 
    which are the first "__icon-box", the second "__icon-box", and "__user" */
    & > * {
        padding: 0 2rem; // 0 padding  on the top, 2rem for the left and right
        cursor: pointer;
        height: 100%; // in order for the hover effect below to stretch over the entire header
        display: flex; // it is used to apply flex box in the _icon-box element that contain the icon and the span in the html file
        align-items: center; // this is to center the flex items along the cross axis
    }

    // same as the previous selector but for when we hover over the icons
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative; // used for the position: absolute of the __notification 
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
        
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;

        // position the notification number over the icons
        position: absolute; 
        top: 1.5rem;
        right: 1.1rem;

        // center the number of notifications in the small background red circle
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

}


//////////////////////////////////
// SIDE NAVIGATION

.side-nav {
    font-size: 1.4rem;
    list-style: none; // remove the bullet style of the list
    margin-top: 3.5rem;

    &__item {
        position: relative; // this is used for the position: absolute in item::before below

        // add some space between the items except the last one
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    // add the small line on the left of the SVG icons before th animation start
    &__item::before {
        content: "";
        position: absolute; // absolute in order for the small part to be on the same line as the SVG icons 
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);

        // the samll line on the left of the SVG starts invisible
        transform: scaleY(0);

        // the transformation for the line left to the SVG icon
        transition: transform .2s, // the transform happen in .2s
                    width .4s cubic-bezier(1,0,0,1) .2s, // the width transformation happen over .4s with a delay of .2s; the animation speed starts fast then it slows down using the cubic-bezier  
                    background-color .1s; // the animation of the color when we click an item on the navigation section
    }

    // add the effect of stretching to the small line left to the SVG icons when we hover 
    &__item:hover::before,
    &__item--active::before {
        // the &__item--active::before is used to make the first item active by default
        transform: scaleY(1);
        width: 100%;
    }

    // change the color when we click a navigation section item a bit brighter
    &__item:active::before {
        background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        // to make the link nd SVG icons appear on top of the pink section when we hover it
        position: relative;
        z-index: 10;

        // align the text and the SVG icons 
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill: currentColor; // change the colors of the SVG icons into the same color of the parent element so side-nav__link
    }
}


//////////////////////////////////
// LEGAL TEXT
.legal {
    font-size: 1.2rem;
    color: var(--color-grey-light-4);
    text-align: center;
    padding: 2.5rem;
}



//////////////////////////////////
// GALLERY

.gallery{
    display: flex; // in order for the images to be side by side
    &__photo {
        width: 100%; // the width in percentages in order for the image to stay fluid for the responsive design
        display: block; // to avoid having a small space under the images; which happens when we leave it as a default inline element
    }
}


//////////////////////////////////
// HOTEL OVERVIEW

.overview {
    display: flex; // to put all the elements side by side
    align-items: center;// vertically center the SVG icon elements in the flex box
    border-bottom: 1px solid var(--color-grey-light-2);
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem; //1.5rem top and bottom , 3rem left and right
    }

    &__stars {
        /* the element only occupying the space that it needs, 
        and the rest of the space is the automatically calculated margin*/
        margin-right: auto; 
        display: flex; // to get the star SVG icons perfectly centered vertically
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__location {
        font-size: 1.2rem; // this font size will be inherited by the button
        display: flex; // to flex box the button and the location SVG icon
        align-items: center; // to center the elements
    }   

    &__icon-location {
        margin-right: .5rem; // add space between SVG icon and the text "Albufeira, Portugal"
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 3rem;
        color: #fff;
        padding: 0 2.25rem; // padding on the left and right of 2.25rem
        align-self: stretch; // to makethe rating stretch along the entire height of the flexbox

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -3px; // reduce the spacing between the rating average and count
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }
}

//////////////////////////////////
// BUTTON INLINE
.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit; // to make it modular and re-usable for other buttons, this button inherit its font size from "&__location"
    border-bottom: 1px solid currentColor; /* to make it have the same color as the parent element (--color-primary), 
    and in order to make the color of the border-bottom change to the parent elemnt color when we hover*/
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent; // no background color
    cursor: pointer;
    transition: all .2s; // transition when we hover the button and it change color

    &:hover {
        color: var(--color-grey-dark-1);
    }

    // adding the pulsating animation
    &:focus {
        outline: none;
        animation: pulsate 1s infinite; // infinite: create an infinite animation as long as the button is in focus
    }
}

// creating the pulsating animation for button
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0,0,0 , .25);
    }
    
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}