.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;


    // adding media queries
    @media only screen and (max-width: $bp-largest) {
        margin: 0; // removing the margin from the top
        //bp-largest: is the breaking point Scss variable defined in the base.scss file

        // fixing the width to max width when lowering the size to 1100 or less, in order to hide the backround pink color
        max-width: 100%;
        width: 100%;
    }

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    // adding media queries for smallest screens (500px)
    @media only screen and (max-width:$bp-smallest){
        flex-wrap: wrap;    // making the seach bar jump to the another row. "wrap" : allow the flex item to wrap into a new line if they don't have enough space
        align-content: space-around;    // making space between the elements
        height: 11rem;  // increase the height of the header in order to fit all the elements
    }
}

.content {
    display: flex; // define the flexbox container

    // adding media queries
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column; // putting the navigation on the top and the hotel overwien beneth it
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;  // the first 0 is for the grow, the second is for the shrink, and 18% if for the width

    display: flex; // in order to format the elements inside the nav bar in a flex
    flex-direction: column; // to change the direction of the axis from left to right, to top to bottom
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1; // to grow the elemnt as much as it can over all the available space that the container has (82%=100%-18%)
}

.detail {
    font-size: 1.4rem; // the font-size is defined here because it is the parent of bothdescription and user-reviews section and they will inherite the same font size
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    // adding media queries
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;  // removing white space buy lowering the padding to 3 instead of 4.5 for 900px screens
    }

    // adding media queries
    @media only screen and (max-width: $bp-small) {
        flex-direction: column; // putting the description and user-reviews section under each other
    }
}

.description {
    
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    // adding media queries
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem; // removing white space buy lowering the padding to 2 instead of 3 for 900px screens
        margin-right: 3rem; // removing white space
    }

    // adding media queries
    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    // in order to center the button in the review section
    display: flex;
    flex-direction: column;
    align-items: center;
}